{{ define "main" }}
{{ range (where .Pages "Section" "episodes").GroupByParam "season" }}
<section itemscope itemtype="http://schema.org/CreativeWorkSeason">
    <meta itemprop="contentRating" content="ExplicitLanguage" />
    <meta itemprop="encodingFormat" content="audio/mpeg3" />
    <header><h1>Season <span itemprop="seasonNumber">{{ .Key }}</span></h1></header>
    {{ range .Pages -}}
        {{ .Render "short" }}
        {{- else -}}
        <article><header><h1>No episodes published for this Season</h1></header></article>
    {{- end }}
</section>
{{- else -}}
<section><header><h1>No episodes published yet, coming soon!</h1></header></section>
{{ end }}
{{ end }}