{{ $peopleList := getJSON .Params.data }}
{{ partial "header.html" . }}
<section class="page">
<header><h1>{{ .Title }}</h1></header>
<ul class="peopleList">
{{ range $peopleList }}
<li><div class="avatar">{{ if .url }}<a href="{{ .url }}">{{ end }}<img
src="//www.gravatar.com/avatar/{{ .gravatar }}?d=monsterid" />{{ if .url }}</a>{{ end }}</div><div class="label">{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .name }}{{ if .url }}</a>{{ end }}
<span class="roles">{{ delimit .roles ", " ", &amp; " }}</span></div>
</li>
{{ end }}
</ul>
</section>
{{ partial "footer.html" . }}