<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav>
		<header>{{ partial "svgs/logo.svg" }}</header>
		<ul class="nav">
			<!-- Loop through to create nav items -->
	      {{ range .Site.Menus.main }}
      	  <li class="nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{end}}
          {{ range .Site.Data.seasons }}
          <li class="nav-item">{{ .short_name }}: <a href="{{ .url | absURL }}">{{ .name }}</a></li>
          {{end}}
		</ul>
		<!-- bottom nav buttons -->
		<ul class="bottom-nav">
		  <li class="nav-item"><a href="">{{ partial "svgs/rss.svg" }}</a></li>
		  <li class="nav-item"><a href="">{{ partial "svgs/apple.svg" }}</a></li>
		  <li class="nav-item"><a href="">{{ partial "svgs/cash.svg" }}</a></li>
		  <li class="nav-item"><a href="">{{ partial "svgs/patreon.svg" }}</a></li>
		</ul>


	</nav>
	<input type="checkbox" id="nav-trigger" class="nav-trigger" />
	<label for="nav-trigger"></label>
	<div class="site-wrap">
	<header><h1>Poor Impulse Control</h1></header>
	<section>