// <li><img <aside>{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .name }}{{ if .url }}</a>{{ end }}
// {{ delimit .roles ", " ", &amp; " }}</aside>
// </li>
.peopleList
  list-style: none
  display: flex
  flex-flow: row wrap

  li
    width: 45%
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-content: flex-start
    margin-right: 1rem
    
    .label
      padding-left: 0.5rem
      font-size: 1.5rem
    .roles
      display: block
      font-size: 0.85rem

section.character
  header
    margin-bottom: 0
  article
    display: flex
    flex-flow: column-reverse

    .content
      flex: 2 0 0

aside.portrait
  position: fixed
  right: 0
  bottom: -1rem
  z-index: -1

  img
    max-width: 400px
    max-height: 400px

.episodeContributor
  list-style: none
  display: flex
  flex-flow: row wrap

  li
    margin-right: 2rem
    margin-bottom: 1rem
    width: 45%
    display: flex
    flex-flow: column-reverse
    a
      text-decoration: none

    .name
      font-size: 2rem

    .role
      color: $primary1-sub