.episodeList
  ul
    list-style: none

    li
      font-size: 1.5em
      a
        text-decoration: none

      aside
        display: inline
        margin-right: .5em
        &:after
          content: '.'
        font-size: 1rem
        color: $primary1-sub

.characterList
  ul
    list-style: none
    display: flex
    flex: row wrap

    li
      margin-right: 2rem
      img
        display: block