$primary1: #fcfcfa
$primary2: #191111
$primary2-sub: lighten($primary2, 15%)

*,*:before,*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0
  line-height: 1.5em

html, body
  height: 100%
  width: 100%

// Navigation
body
  overflow-x: hidden

nav
  background: $primary2
  width: 230px
  padding: 1em
  height: 100%
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0
  color: $primary1
  display: flex
  flex-direction: column
  align-content: stretch
  align-items: center
  justify-content: space-between

  ul, header
    list-style: none
    width: 100%
    border: 1px solid green

  svg

    .cls-1, path
      fill: $primary1

  .nav
    flex: 2 0 0
    padding: 2em 0

    li
      color: $primary2-sub
    a
      color: $primary1
      text-decoration: none
      font-size: 1.5em
      text-transform: uppercase

  .bottom-nav
    display: flex
    justify-content: space-between
    align-items: center
    align-content: center
    bottom: 0
    align: center

    svg
      max-width: 2rem

.nav-trigger
  position: absolute
  clip: rect(0,0,0,0)

  &:checked
    & + label
      left: 245px

    & ~ .site-wrap
      left: 230px
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.5)

.nav-trigger + label, .site-wrap
  transition: left 0.2s

label[for="nav-trigger"]
  position: fixed
  top: 15px
  left: 15px
  z-index: 2
  width: 30px
  height: 30px
  cursor: pointer
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>")
  background-size: contain

.site-wrap
  min-width: 100%
  min-height: 100%
  background-color: $primary1
  position: relative
  top: 0
  bottom: 100%
  left: 0
  z-index: 1
  padding: 4em