#header
    header
        h1
            font-size: 3em
            line-height: 1.5em
        h2
            font-size: 1.25em
            line-height: 1.5em
            margin-top: -0.5em
    .menu
        a
            font-size: 1.15em
            line-height: 1.5em
            align-self: center
            text-decoration: none

#footer
    footer
        font-size: 0.75em

#content
    h2
        font-weight: bold
        color: $gray
    p
        line-height: 1.5em
        margin-bottom: 1.5em
    
    em
        font-weight: bold
        color: $gray